@CHARSET "ISO-8859-1";
/**
 * This stylesheet is used for the most basic of stylings only.
 */

/* ---------------------------------------------------------------- */
/* Main Structure - Generic Tags */
BODY {
	BACKGROUND: #AAAAAA;
	FONT-FAMILY: Arial;
	font-size: 70%;
}

H1 {
	font-size: 1em;
}

H2 {
	font-size: 0.8em;
}

H3 {
	font-size: 0.6em;
}

hr {
	color: #777;
	background-color: #777;
	border: 0;
	height: 2px;
}

a, .link {
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
	color: #222222;
}


/* ---------------------------------------------------------------- */
/* Main Structure - Page Layout */

#pageWrapperDiv { /* wraps the entire page content */
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#pageHeaderDiv { /* wraps the header */
	margin-bottom: 10px;
}

#pageHeaderTitleDiv { /* wraps the displayed app and page name */
	font-size: 1.8em;
	font-style: oblique;
}
#pageHeaderNavLargeDiv,
#pageHeaderNavSmallDiv { /* wraps the navigation buttons next to the header title div */
	float: right;
}

#pageHeaderNavLargeDiv .ui-menu,
#pageHeaderNavSmallDiv .ui-menu {
	z-index: 999;
	position: absolute;
	min-width: 100px;
}

#pageFooterDiv {
	margin-top: 50px;
	text-align: center;
}
#pageFooterDiv img {
	border: none;
}

/* ---------------------------------------------------------------- */
/* Global CSS options */
IMG.button,
IMG.buttonThumper {
	/* Used on all of the 16x16 button icons and corresponding thumpers used in the system. */
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 1px;
	margin-bottom: 10px;
	vertical-align: middle;
}
IMG.button { /* Used for any of the icons in use as a button */
	cursor: pointer;
}

input.longField, select.longField, textarea.longField {
	width: 90%;
}

@media only screen and (max-width:700px), (min-device-width: 768px) and (max-device-width: 1024) {
	/* Small screen */
	ul.ui-tabs-nav li {
		width: 100%;
	}
	a.ui-tabs-anchor {
		width: 100%;
	}
	
	/* #pageHeaderNavLargeDiv */
	#pageHeaderNavSmallDiv {
		display: none;
	}
}

@media not all and (max-width:700px), not (min-device-width: 768px) and (max-device-width: 1024) {
	/* Large screen */
	#pageHeaderNavSmallDiv {
		display: none;
	}

}

/* ---------------------------------------------------------------- */
/* Global flot graph container options */
.flot-container {
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.flot-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

