@CHARSET "ISO-8859-1";
/**
 * This stylesheet is for table formatting.
 */

table {
	BORDER-WIDTH: 0px;
	border-collapse: collapse;
}

table TR {
	vertical-align: top;
}

table TH,TD {
	padding-left: 5px;
	padding-right: 5px;
}

table.hide,
table .hide {
	display: none;
}



/* Create dataPoint table type */

table.dataEntry,
table.dataPoint {
	width: 100%;
}

table.dataEntry caption,
table.dataPoint caption {
	background-color: #dddddd;
	text-align: left;
	font-weight: bold;
	padding-left: 5px;
}

table.dataEntry tr:nth-child(odd),
table.dataPoint tr:nth-child(odd) {
	background-color: #eeeeee;
}

table.dataEntry tr:nth-child(even),
table.dataPoint tr:nth-child(even) {
	background-color: #f6f6f6;
}

table.dataEntry tr.gap,
table.dataPoint tr.gap {
	background-color: #ffffff;
	color: #ffffff;
}

table.dataEntry th,
table.dataPoint th {
	text-align: left;
}

table.dataEntry th.h1,
table.dataPoint th.h1 {
	font-weight: bold;
	background-color: #dddddd;
}

table.dataEntry th.h2,
table.dataPoint th.h2 {
	font-weight: normal;
}

table.dataEntry th.h3,
table.dataPoint th.h3 {
	font-weight: normal;
	padding-left: 20px;
	width: 50px;
	white-space: nowrap;
}

table.dataEntry .indented,
table.dataPoint .indented {
	padding-left: 20px;
}

table.dataEntry .nowrap,
table.dataPoint .nowrap {
	white-space: nowrap;
}

table.dataEntry .gap,
table.dataPoint .gap {
	background-color: white;
	color: white;
}

table.dataEntry .numeric,
table.dataPoint .numeric {
	text-align: right;
}

table.dataEntry .comment,
table.dataPoint .comment {
	font-style: italic;
}



/* Modify dataEntry and dataPoint tables type for viewing on small screens */
@media only screen and (max-width:700px), (min-device-width: 768px) and (max-device-width: 1024) {
	/* Small screen specifics */
	table.dataEntry,
	table.dataEntry caption,
	table.dataEntry thead, 
	table.dataEntry tbody,
	table.dataEntry tfoot, 
	table.dataEntry th, 
	table.dataEntry td, 
	table.dataEntry tr,
	table.dataPoint,
	table.dataPoint caption, 
	table.dataPoint thead, 
	table.dataPoint tbody,
	table.dataPoint tfoot,  
	table.dataPoint th, 
	table.dataPoint td, 
	table.dataPoint tr {
		display: block;
	}
	
	table.dataEntry thead tr,
	table.dataEntry .gap,
	table.dataEntry .narrowHiddenHeader,
	table.dataPoint thead tr,
	table.dataPoint .gap,
	table.dataPoint .narrowHiddenHeader {
		/* Hide table headers without using display:none */
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table.dataEntry th,
	table.dataPoint td:nth-child(odd) {
		background-color: #eeeeee;
	}
	
	table.dataEntry td,
	table.dataPoint td:nth-child(even) {
		background-color: #f6f6f6;
	}
	
	table.dataEntry td {
		border: none;
		position:relative;
		padding-left: 20px;
	}
	
	table.dataPoint td {
		border: none;
		position: relative;
	}
	
	table.dataPoint td[data-label] {
		/* Behave like the second cell in a two column row */
		padding-left: 50%;
	}
		
	table.dataPoint td[data-label]:before {
		/* Add the column label to the cell row */
		position: absolute;
		top: 0px;
		left: 6px;
		width: 45%;
		text-align: left;
		padding-right: 10px;
		white-space: nowrap;
		content: attr(data-label);
	}
	
	table.dataEntry td,
	table.dataPoint td:last-child {
		margin-bottom: 20px;
	}
	
	table.dataEntry .numeric,
	table.dataPoint .numeric {
		text-align: inherit;
	}

	table.dataEntry.allNumeric .numeric,
	table.dataPoint.allNumeric .numeric {
		text-align: right;
	}
}

@media not all and (max-width:700px), not (min-device-width: 768px) and (max-device-width: 1024) {
	/* Large screen specifics */
	table.dataEntry th.h2 {
		width: 175px;
	}
	
	table.dataEntry .smallest,
	table.dataPoint .smallest {
		white-space: nowrap;
		width: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
}







