<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- 
The page for the crafting map module.
-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Meeper&apos;s Starbound Crafting Map</title>

<link rel="stylesheet" type="text/css" href="common/jquery-ui-1.12.1/themes/start/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="common/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="common/stylesheet_tables.css" />
<link rel="stylesheet" type="text/css" href="common/easyautocomplete-1.3.5/easy-autocomplete.min.css" />
<link rel="stylesheet" type="text/css" href="common/treant-js-master/Treant.css" />

<script type="text/javascript" src="common/jquery-3.5.0/jquery-3.5.0.min.js"></script>
<script type="text/javascript" src="common/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="common/jsrender/jsrender.min.js"></script>
<script type="text/javascript" src="common/message_handler.js"></script>
<script type="text/javascript" src="common/jscript.js"></script>
<script type="text/javascript" src="common/easyautocomplete-1.3.5/jquery.easy-autocomplete.min.js"></script>
<script type="text/javascript" src="common/treant-js-master/vendor/raphael.js"></script>
<script type="text/javascript" src="common/treant-js-master/Treant.js"></script>
<script type="text/javascript" src="crafting_map.js"></script>

<style>
div.easy-autocomplete {
	display: inline-block;
}

#craftingItemUrlDiv {
	padding-top: 15px;
	padding-bottom: 15px;
}

.treeNode {
	padding-left: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #ffffff;
	border: 1px solid #000;
	width: 200px;
}

.treeNodeTitleDiv {
	margin-bottom: 5px;
	display: inline-block;
}

.treeNodeIconImg {
	margin: 5px;
}

.treeNodeNameDiv {
	font-weight: bold;
	display: inline-block;
	margin: 5px;
}

.treeNodeTextDiv {
	margin-bottom: 5px;
	margin-top: 5px;
}

.treeOuterDisplayDiv {
	width:100%;
	height: 400px;
}

.Treant .collapse-switch {
	width: auto;
	height: auto;
}

</style>
</head>

<!-- Start page body -->
<body>

<script type="text/x-jsrender" id="itemNodeDisplayTemplate">
	<div class="treeNodeTitleDiv">
		<img class="treeNodeIconImg" src="data/icons/{{>iconFile}}"/>
		<div class="treeNodeNameDiv">{{>itemName}}</div>
	</div>
	<div class="treeNodeTextDiv">{{>description}}</div>

	<div class="treeNodeTextDiv"><a class="switchToItemLink" data-item-key="{{>itemKey}}">Display This Item</a></div>
	<div class="treeNodeTextDiv">Internal Key: {{>itemKey}}</div>

	{{if quantityNeeded}}
		<div class="treeNodeTextDiv">Qty Needed by Parent: {{>quantityNeeded}}</div>
	{{/if}}

	{{if quantityProduced}}
		<div class="treeNodeTextDiv">Qty Produced by Children: {{>quantityProduced}}</div>
	{{/if}}
	
	<div class="treeNodeTextDiv">Price: 
		{{if price}}
			{{>price}}
		{{else}}
			0
		{{/if}}
		pixels
	</div>

	<div class="treeNodeTextDiv">Printable: 
		{{if printable}}
			Yes
		{{else}}
			No
		{{/if}}
	</div>

	{{if rarity}}
		<div class="treeNodeTextDiv">Rarity: {{>rarity}}</div>
	{{/if}}

	{{if category}}
		<div class="treeNodeTextDiv">Category: {{>category}}</div>
	{{/if}}

	{{if colonyTags}}
		<div class="treeNodeTextDiv">Colony Tags: 
		{{for colonyTags}}{{if #index > 0}}, {{/if}}{{>#data}}{{/for}}
		</div>
	{{/if}}

	<div class="treeNodeTextDiv"><a href="{{>~wikiLink(itemName)}}" target="_blank">Wiki Link</a></div>
</script>

<div id="pageWrapperDiv" style="max-width: 1300px;">

<div id="pageHeaderDiv">
	<div id="pageHeaderNavLargeDiv"></div>
	<div id="pageHeaderTitleDiv">
		<h1>Meeper&apos;s Starbound Crafting Map</h1>
	</div>
</div>

<br/>

<div id="jsglobalErrorDisplayArea"></div>
<div id="jsglobalNoticeDisplayArea"></div>

<br/>

<div id="pageBodyDiv">
	<div id="newsTabBox" class="tabBox">
		<ul>
			<li><a href="#newsTab" id="newsTabTitle">News Update (June 9, 2017)</a></li>
		</ul>
		<div id="newsTab">
			<div id="newsTabMsgDiv">
				<p>The crafting map has been updated to include the latest updates from Starbound 1.3.0!!!</p>
				<p>If you come across a problem or find missing items, please <a href="contact.php">Contact Me</a>!</p>
			</div>
		</div>
	</div>

	<div id="searchTabBox" class="tabBox">
		<ul>
			<li><a href="#searchTab" id="searchTabTitle">Item Search</a></li>
		</ul>
		<div id="searchTab">
			<div id="searchTabMsgDiv" class="tabMsgDiv">Loading... </div>
			<div id="craftingItemQueryDiv">
				<label for="itemLocatorSelecter">Item to display: </label>
				<input id="itemLocatorSelecter" size="70"></input>
				<input type="button" id="clearItemButton" value="Clear"/>
			</div>
			<div id="craftingItemUrlDiv">
				<label for="itemURLSpan">Direct Item URL: </label>
				<span id="itemFullURLSpan"><a id="itemFullURLLink"></a></span>
			</div>
			<div>&nbsp;</div>
			<div id="craftingItemDisplayDiv"></div>
		</div>
	</div>

	<div id="resultsTabBox" class="tabBox">
		<ul>
			<li><a href="#createdFromTab" id="createdFromTabTitle">Created From</a></li>
			<li><a href="#createdWithTab" id="createdWithTabTitle">Creates</a></li>
		</ul>
		<div id="createdFromTab">
			<div id="createdFromTabMsgDiv" class="tabMsgDiv resultTabMsgDiv">Loading...</div>
			<div id="craftingTreeItemInput" class="treeOuterDisplayDiv"></div>
		</div>
		<div id="createdWithTab">
			<div id="createdWithTabMsgDiv" class="tabMsgDiv resultTabMsgDiv">Loading...</div>
			<div id="craftingTreeItemOutput" class="treeOuterDisplayDiv"></div>
		</div>
	</div>
</div>

<div id="pageFooterDiv"><div></div></div>

</div>
</body>
</html>
