<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- 
The page for the crafting ability matrix module.
 
Test URL:
crafting_ability_matrix.html?items=automato,diodia,beakseedjam,toxictopjam,bread,rawpoultry,tomato,boneboo,beakseed,carrot,oculemon,avesmingo,corn,rice,sugar,cocoa,shroom,kelp,wheat,egg,milk,reefpod,coralcreep,banana,feathercrown,toxictop,kiwi,grapes,pussplum,pineapple,currentcorn,potato
-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Meeper&apos;s Starbound Crafting Ability Matrix</title>

<link rel="stylesheet" type="text/css" href="common/jquery-ui-1.12.1/themes/start/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="common/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="common/stylesheet_tables.css" />
<link rel="stylesheet" type="text/css" href="common/easyautocomplete-1.3.5/easy-autocomplete.min.css" />

<script type="text/javascript" src="common/jquery-3.5.0/jquery-3.5.0.min.js"></script>
<script type="text/javascript" src="common/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="common/jsrender/jsrender.min.js"></script>
<script type="text/javascript" src="common/message_handler.js"></script>
<script type="text/javascript" src="common/jscript.js"></script>
<script type="text/javascript" src="common/easyautocomplete-1.3.5/jquery.easy-autocomplete.min.js"></script>
<script type="text/javascript" src="crafting_ability_matrix.js"></script>

<style>
div.easy-autocomplete {
	display: inline-block;
}

#inventoryItemsUrlDiv {
	padding-top: 15px;
	padding-bottom: 15px;
}

#inventoryTableBody TR {
	vertical-align: middle;
}

#inventoryTableBody IMG.button {
	margin-top: 5px;
	margin-bottom: 5px;
}

#creatableItemTable TD {
	padding-top: 10px;
	padding-bottom: 10px;
}

#createdWarningDiv {
	margin-top: 10px;
	margin-bottom: 10px;
}

tr.disabledItem {
	background-color: #FF9999 !important;
}

tr.disabledItem td.text {
	text-decoration: line-through;
}
</style>
</head>

<!-- Start page body -->
<body>

<script type="text/x-jsrender" id="inventoryItemEntryTemplate">
	<tr class="inventoryItemRow" data-item-key="{{>itemKey}}" data-disabled="false">
		<td class="text"><a target="_blank" href="crafting_map.html?item={{>itemKey}}">{{>itemName}}</a></td>
		<td class="text">{{>itemKey}}</td>
		<td class="text numeric">{{>price}}</td>
		<td>
			<img class="button inventoryIconPlay" src="common/icons/play.gif" title="Enable Entry" style="display: none;"/>
			<img class="button inventoryIconPause" src="common/icons/pause.gif" title="Disable Entry"/>
			<img class="button inventoryIconDelete" src="common/icons/delete.gif" title="Delete Entry"/>
		</td>
		<td class="text"><a href="{{>~wikiLink(itemName)}}" target="_blank">Wiki</a></td>
	</tr>
</script>
<script type="text/x-jsrender" id="creatableItemEntryTemplate">
	<tr data-item-key="{{>itemKey}}">
		<td data-label="Item Name"><a target="_blank" href="crafting_map.html?item={{>itemKey}}">{{>itemName}}</a></td>
		<td data-label="Item Key">{{>itemKey}}</td>
		<td data-label="Ingredients (Qty, Price Per)">{{for depDetails}}{{if index > 0}}, {{/if}}{{>name}} ({{>qty}}, {{>price}}){{/for}}
		<td data-label="Ingredient Total" class="numeric">{{>depTotal}}</td>
		<td data-label="Item Price" class="numeric">{{>price}}</td>
		<td data-label="Net Gain" class="numeric">{{>(price-depTotal)}}</td>
		<td data-label="Links"><a href="{{>~wikiLink(itemName)}}" target="_blank">Wiki</a></td>
	</tr>
</script>

<div id="pageWrapperDiv" style="max-width: 1300px;">

<div id="pageHeaderDiv">
	<div id="pageHeaderNavLargeDiv"></div>
	<div id="pageHeaderTitleDiv">
		<h1>Meeper&apos;s Starbound Crafting Ability Matrix</h1>
	</div>
</div>

<br/>

<div id="jsglobalErrorDisplayArea"></div>
<div id="jsglobalNoticeDisplayArea"></div>

<br/>

<div id="pageBodyDiv">
	<div id="searchTabBox" class="tabBox">
		<ul>
			<li><a href="#searchTab" id="searchTabTitle">Your Items Available</a></li>
		</ul>
		<div id="searchTab">
			<div id="searchTabMsgDiv" class="tabMsgDiv">Loading... </div>
			<div id="craftingItemQueryDiv">
				<label for="itemLocatorSelecter">Add Item to Inventory: </label>
				<input id="itemLocatorSelecter" size="70"></input>
			</div>
			<div id="inventoryItemsUrlDiv">
				<label for="inventoryItemsURLSpan">Inventory URL: </label>
				<span id="inventoryItemsFullURLSpan"><a id="inventoryItemsFullURLLink"></a></span>
			</div>
			<br/>
			<table id="inventoryTable" class="dataPoint" style="width: auto;">
				<thead>
				<tr>
					<th class="h1">Item</th>
					<th class="h1">Item Key</th>
					<th class="h1 numeric">Price</th>
					<th class="h1">Action</th>
					<th class="h1">Links</th>
				</tr>
				</thead>
				<tbody id="inventoryTableBody"></tbody>
			</table>
			<br/>
			<input type="button" id="getPossibilitiesButton" value="Go"/>
		</div>
	</div>
	
	<br/>
	
	<div id="resultsTabBox" class="tabBox">
		<ul>
			<li><a href="#createdWithTab" id="createdWithTabTitle">Creating Possibilities</a></li>
		</ul>
		<div id="createdWithTab">
			<div id="createdWithTabMsgDiv" class="tabMsgDiv resultTabMsgDiv">Loading...</div>
			<table id="creatableItemTable" class="dataPoint">
				<thead>
				<tr>
					<th class="h1">Item Name</th>
					<th class="h1">Item Key</th>
					<th class="h1">Ingredients (Quantity, Price Per)</th>
					<th class="h1 numeric">Ingredient Total Price</th>
					<th class="h1 numeric">Item Price</th>
					<th class="h1 numeric">Net Gain</th>
					<th class="h1">Links</th>
				</tr>
				</thead>
				<tbody id="createableItemTableBody"></tbody>
			</table>
		</div>
	</div>
</div>

<div id="pageFooterDiv"><div></div></div>

</div>
</body>
</html>
